.posters-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.3);
}

.posters-canvas {
    display: block;
    width: 100%;
    height: 100%;
}